<div class='body'> <!-- style="overflow: hidden;" -->

  <section class="container-recp">
    <app-top-page></app-top-page>
    <div class="btn-scroll-hidden">
      <div class="btn-scroll">
        <div class="label-scroll">SCROLL DOWN</div>
        <div class="scroll-down"></div>
      </div>
    </div>
  </section>

  <section class="container-recp">
    <div class="square"></div>
    <h1>A imagem e o significado são claros e tangível, sem ambiguidade</h1>
    
    <div class="square_2"></div>
  </section>
  
</div>
